@import "tailwindcss";



.theme-normal {
  --bg: #f4f4f5;
  --text: #111827;
  --card: #ffffff;
  --border: #d4d4d8;
  --accent: #166534;
}


.theme-paranormal {
  --bg: #050505;
  --text: #e5e7eb;
  --card: #0f0f0f;
  --border: #7f1d1d;
  --accent: #991b1b;
}


body {
  background-color: #0a0a0a;
  color: #e5e5e5;
}

@keyframes glitch {
  0% { transform: translate(0) }
  20% { transform: translate(-2px, 2px) }
  40% { transform: translate(2px, -2px) }
  60% { transform: translate(-1px, 1px) }
  80% { transform: translate(1px, -1px) }
  100% { transform: translate(0) }
}

.glitch {
  animation: glitch 0.2s infinite;
}
